body {
	font-family: "Arial", sans-serif;
	background-color: #f4f4f4;
	color: #333;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.homepage_body {
	background-image: url("test_outside.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.adoption_body {
	background-image: url("test_inside.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.dogs_body {
	background-image: url("dogs_body.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.page4_body {
	background-image: url("other_pets.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#form_id {
	color: blue;
}

h1 {
	font-family: "Gill Sans MT";
	background-color: #333;
	color: #fff;
	padding: 30px;
	margin-top: 0px;
	margin-bottom: 0;
}

p {
	text-align: center;
	width: 50%;
	margin: 0 0 0 25%;
	font-size: 18px;
}

#nav {
	background-color: #444;
	padding: 10px;
	margin: 0 0 0 0;
}

a {
	font-family: "Times New Roman";
	display: inline-block;
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	font-size: 18px;
}

.container {
	padding: 10px;
	margin: 0 auto;
	margin-top: 20px;
	width: 65%;
	border-radius: 20px;
	background-color: white;
	opacity: 0.8;
	backdrop-filter: blur(3px);
}

#volunteer_paragraph {
	width: 80%;
	margin: 0 auto;
}

#adoption_process {
	color: black;
	margin: 0 auto;
	width: 80%;
}

#dogs_p {
	color: black;
	backdrop-filter: blur(4px);
}

table {
	width: 50%;
	background-color: transparent;
	border-radius: 20px;
	margin: 0 0 0 25%;
	text-align: center;
}

video {
	border-radius: 10px;
}

th,
td {
	padding: 5px;
	border-radius: 20px;
	border: 2px solid #3a3a3a;
	backdrop-filter: blur(4px);
}

td:hover {
	background-color: #9ac9c4;
}

hr {
	border-color: rgb(124, 124, 124);
	border-width: 2px;
	border-style: solid;
}

.form {
	width: 45%;
	padding: 25px;
	height: fit-content;
	border-radius: 30px;
	margin: 0 auto;
	background-color: transparent;
	backdrop-filter: blur(4px);
}

.volunteer {
	background-image: url("test_volunteer.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

label {
	font-family: Verdana;
	font-size: 18px;
	text-decoration: underline;
	font-weight: bold;
	color: black;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	width: 25%;
	padding: 8px;
	border: 2px solid #ccc;
	border-radius: 3px;
}

textarea {
	width: fit-content;
	resize: vertical;
}

button {
	background-color: #2d2d2d;
	color: #ffffff;
	padding: 10px;
	border-radius: 7px;
	cursor: pointer;
	width: 20%;
}

#signCanvas {
	position: sticky;
	border: thin, solid;
	border-radius: 12px;
	width: 300px;
	height: 130px;
}

#dog {
	width: 210px;
	height: 350px;
	border-radius: 8px;
	margin-bottom: 8px;
	opacity: 0.5;
}

#dog:hover {
	opacity: 1;
}

ul {
	list-style-type: none;
	align-items: center;
}

#shelter_inside_img {
	border-radius: 8px;
	margin-bottom: 8px;
	height: 1270px;
}

#shelter_outside_img {
	border-radius: 8px;
	margin-bottom: 8px;
	height: 1270px;
}

h2,
h3 {
	color: #333;
}
